source/font_source/__MACOSX/._OFL-FAQ.txt
source/font_source/__MACOSX/._Now-Thin.otf
source/font_source/__MACOSX/._Now-Regular.otf
source/font_source/__MACOSX/._Now-Medium.otf
source/font_source/__MACOSX/._Now-Light.otf
source/font_source/__MACOSX/._Now-Bold.otf
source/font_source/__MACOSX/._Now-Black.otf
source/font_source/OFL-FAQ.txt
source/font_source/NowAlt-Thin.otf
source/font_source/NowAlt-Regular.otf
source/font_source/NowAlt-Medium.otf
source/font_source/NowAlt-Light.otf
source/font_source/Now-Black.otf
source/font_source/Now-Bold.otf
source/font_source/Now-Light.otf
source/font_source/Now-Medium.otf
source/font_source/Now-Regular.otf
source/font_source/Now-Thin.otf
source/font_source/NowAlt-Black.otf
source/font_source/NowAlt-Bold.otf
source/img/cover.jpg
